{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <!-- 添加图片区域 -->
    <div class="text-center mb-5">
        <img src="{{ url_for('static', filename='images/nl02.png') }}" 
             class="img-fluid rounded shadow" 
             alt="Admin Dashboard Banner"
             style="max-height: 200px;">
    </div>

    <h2 class="text-center mb-4">Admin Dashboard</h2>
    <div class="row">
        <!-- Manage Users Button -->
        <div class="col-md-12 mb-4">
            <a href="{{ url_for('main.manage_users') }}" class="action-button blue">
                <i class="fas fa-users"></i> Manage Users
            </a>
        </div>
        <!-- Manage Courses Button -->
        <div class="col-md-12 mb-4">
            <a href="{{ url_for('main.manage_courses') }}" class="action-button green">
                <i class="fas fa-book"></i> Manage Courses
            </a>
        </div>
    </div>
    <!-- View Logs Button -->
    <div class="col-md-12 mb-4">
        <a href="{{ url_for('main.view_logs') }}" class="action-button purple">
        <i class="fas fa-list"></i> View System Logs
        </a>
    </div>
</div>
{% endblock %}