<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% if current_user.is_authenticated and current_user.preference %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/' + current_user.preference.theme + '.css') }}">
        
        <style>
            body { font-size: {{ {'small': '14px', 'medium': '16px', 'large': '18px'}[current_user.preference.font_size] }}; }
        </style>
    {% endif %}
    <title>University Website</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <header>
        <nav>
            <ul>

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.profile', user_id=current_user.id) }}">Dashboard</a></li>

                    <!-- Forum Navigation -->
                    {% if current_user.user_type in ['student', 'teacher'] %}
                        <li><a href="{{ url_for('main.forum', board_type='chat') }}">Chat Board</a></li>
                        <li><a href="{{ url_for('main.forum', board_type='course') }}">Course Board</a></li>
                    {% endif %}

                    <!-- Library Navigation -->
                    {% if current_user.user_type == 'library_staff' %}
                        <li><a href="{{ url_for('main.manage_books') }}">Manage Resources</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.search_books') }}">Search Books</a></li>
                    {% endif %}

                    <!-- Teacher-specific links -->
                    {% if current_user.user_type == 'teacher' %}
                        <li><a href="{{ url_for('main.create_course') }}">Create Course</a></li>
                        <li><a href="{{ url_for('main.select_grade_entry') }}">Add Grades</a></li>
                    {% endif %}

                    <!-- Student-specific links -->
                    {% if current_user.user_type == 'student' %}
                        <li><a href="{{ url_for('main.view_grades', student_id=current_user.id) }}">View Grades</a></li>
                        <li><a href="{{ url_for('main.register_course') }}">Register for Course</a></li>
                        <li><a href="{{ url_for('main.e_bike_management') }}">E-bike Management</a></li>
                    {% endif %}

                    {% if current_user.user_type == 'security' %}
                        <li><a href="{{ url_for('main.manage_ebikes') }}">E-bike Management</a></li>
                    {% endif %}

                    <li><a href="{{ url_for('main.preferences') }}">Display Settings</a></li>

                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>University Website &copy; 2024</p>
    </footer>
    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
