{% extends "base.html" %}
{% block content %}
<div class="container dashboard-container">
    <div class="dashboard">
        <div class="profile-timetable-wrapper">
            <div class="profile-section">
                <h2>Profile</h2>
                <a href="{{ url_for('main.edit_profile', user_id=user.id) }}" class="edit-profile-button">Edit Profile</a>
                <div class="profile-info">
                    <p><strong>ID:</strong> {{ student.school_id }}</p>
                    <p><strong>Name:</strong> {{ student.name }}</p>
                    <p><strong>Gender:</strong> {{ student.gender }}</p>
                    <p><strong>Birth:</strong> {{ student.birth }}</p>
                    <p><strong>Email:</strong> {{ student.email }}</p>
                    <p><strong>College:</strong> {{ student.college }}</p>
                    <p><strong>Major:</strong> {{ student.major }}</p>
                    <p><strong>Dorm Information:</strong> {{ student.dorm }}</p>
                    <p><strong>Biography:</strong> {{ student.biography }}</p>
                </div>
            </div>
            <div class="timetable-section">
                <h3>Timetable</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Period</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for period in range(1, 13) %}
                        <tr>
                            <td>{{ period }}</td>
                            {% for day in timetable[period - 1] %}
                            <td>{{ day }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="course-section">
            <h3>Courses This Semester</h3>
            <ul>
                {% for course in courses %}
                <li class="course-item">{{ course.course_code }} - {{ course.course_name }} {{ course.year }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
